*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color:#1e2759 ;
    align-items: center;
    justify-content: center;
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    list-style: none;
    justify-content: center;

}

.navigation  li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-left: 1px;
    color: white;
    padding: 20px 30px;
    backdrop-filter: blur(15px);
}

.navigation  li a  ion-icon {
    font-size: 2.5em;
    pointer-events: none;
    opacity: 0.25;
    transition: 0.25s;
}

ul li.active ion-icon{
    opacity: 1;
}

/* ul li::before {
    content: '';
    position: absolute;
    background-color: seagreen;
    width: 50px ;
    height: 40px;
    z-index: -1;
    
} */

#marker {
    position: absolute;
    top: 0;
    transition: 0.5s;
    z-index: -1;
    
}

#marker::before
{
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 40px;
    background-color: #5da6ff;
    border-radius: 5px;
    box-shadow: 0 0 15px #5da6ff,0 0 15px #5da6ff,0 0 30px #5da6ff,0 0 45px #5da6ff,0 0 60px #5da6ff;
}

ul li:nth-child(1).active ~ #marker::before {
    background-color: springgreen;
    background-color: pringgreen;
    border-radius: 5px;
    box-shadow: 0 0 15px springgreen,0 0 15px springgreen,0 0 30px springgreen,0 0 45px springgreen,0 0 60px springgreen;
}
ul li:nth-child(2).active ~ #marker::before {
    background-color: tomato;
    border-radius: 5px;
    box-shadow: 0 0 15px tomato,0 0 15px tomato,0 0 30px tomato,0 0 45px tomato,0 0 60px tomato;
}
ul li:nth-child(3).active ~ #marker::before {
    background-color: violet;
    border-radius: 5px;
    box-shadow: 0 0 15px violet,0 0 15px violet,0 0 30px violet,0 0 45px violet,0 0 60px violet;
}
ul li:nth-child(4).active ~ #marker::before {
    background-color: brown;
    border-radius: 5px;
    box-shadow: 0 0 15px brown,0 0 15px brown,0 0 30px brown,0 0 45px brown,0 0 60px brown;
}
ul li:nth-child(5).active ~ #marker::before {
    background-color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 15px cyan,0 0 15px cyan,0 0 30px cyan,0 0 45px cyan,0 0 60px cyan;
}